<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buscar libro de la Biblioteca Virtual de Miguel de Cervantes</title>
</head>
<body>
  <p>Pagina de la biblioteca virtual de Miguel de cervantes</p>
  <h1>Form</h1>
  <form action="#" th:action="@{api/authorsbvmc}" th:object="${book}" method="post">

    <p>Autor: <input type="text" th:field="*{author}" /></p>

    <p>
      <input type="submit" value="Buscar" class="btn-primary" />
      <input type="reset" value="Limpiar" />
    </p>

  </form>
</body>
</html>